body{
    background-color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin:0px;
    i{
        color: aliceblue;
        width: 16px;
    }
}

h1{
    text-transform: uppercase;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
    border-bottom: aliceblue dashed 2px;
    button{
        display: flex;
        height: fit-content;
        text-transform: uppercase;
        border-radius: 9999px;
        padding : 8px 16px;
        background-color: gray;
    }
}

main{
    display: flex;
    margin :auto;
    align-items: center;
    gap:30px;
    flex-direction: column;
    margin-bottom: 50px;
}

table{
    border: 3px solid white;
    border-collapse: collapse;
    width: 500px;
    height: 600px;
    flex-wrap: wrap;
    

    td{
        border: 1px solid white;
        width: 20%;
    }
}

footer{
    display:flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px dashed aliceblue;
    font-weight: bold;
    #social{
        display: flex;
        gap:100px;
    }
}

.green{
    background-color: limegreen;
}